<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/home/head.html :: my-head(~{ :: .my-own-title})">

    <title class="my-own-title">Home Page Title</title>

</head>
<body>
<div class="page home-page">
    <!--*********************************************************************************************************-->
    <!--************ HERO ***************************************************************************************-->
    <!--*********************************************************************************************************-->
    <header class="hero has-dark-background">
        <div class="hero-wrapper">

            <!--============ Secondary Navigation ===============================================================-->
            <div class="secondary-navigation" th:replace="fragments/home/secondary-navigation.html :: secondary-navigation">
            </div>
            <!--============ End Secondary Navigation ===========================================================-->

            <div class="background" th:replace="fragments/home/header-background.html :: header-background">
            </div>
            <!--end background-->
        </div>
        <!--end hero-wrapper-->
    </header>
    <!--end hero-->

    <!--*********************************************************************************************************-->
    <!--************ CONTENT ************************************************************************************-->
    <!--*********************************************************************************************************-->

    <section class="content">
        <section class="block">
            <div class="container">
                <div class="row">
                    <div th:replace="fragments/home/user-menu-bar.html :: user-menu-bar">

                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-9">
                        <div style="margin-bottom: 25px" class="text-danger" th:if="${message != null}">
                            <ul>
                                <li th:text="${message}" />
                            </ul>
                        </div>

                        <form role="form" th:object="${crmUser}" th:method="post" th:action="@{/changePasswordProcess}" >
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{userName}">

                            <div class="form-group">
                                <label  class="col-form-label required">Password</label>
                                <input  type="password" class="form-control" name="current_password"  placeholder="Current Password" required>
                            </div>



                            <div class="form-group">
                                <label  class="col-form-label required">Password</label>
                                <input  type="password" class="form-control" th:field="*{password}"  placeholder="Password" required>
                            </div>
                            <div th:if="${#fields.hasErrors('password')}"
                                 style="margin-bottom: 25px" class="text-danger">
                                <ul>
                                    <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                                </ul>
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <label  class="col-form-label required">Repeat Password</label>
                                <input  type="password" class="form-control" th:field="*{matchingPassword}" placeholder="Repeat Password" required>
                            </div>
                            <div th:if="${#fields.hasErrors('matchingPassword')}"
                                 style="margin-bottom: 25px" class="text-danger">
                                <ul>
                                    <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}" />
                                </ul>
                            </div>


                            <section class="clearfix">
                                <button type="submit" class="btn btn-primary float-right">Thay đổi</button>
                            </section>
                        </form>

                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!--end block-->
    </section>
    <!--end content-->




    <!--*********************************************************************************************************-->
    <!--************ FOOTER *************************************************************************************-->
    <!--*********************************************************************************************************-->
    <footer class="footer" th:replace="fragments/home/footer.html :: footer">
    </footer>
    <!--end footer-->
</div>
<!--end page-->

<div id="foot-script" th:replace="fragments/home/foot-script.html :: foot-script">
</div>



</body>
</html>
