<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin/head.html :: admin-head(~{ :: .admin-title })">

    <title class="admin-title">Change Password</title>
    <!-- Tell the browser to be responsive to screen width -->

</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <!-- Navbar -->

    <nav th:replace="fragments/admin/navbar-right.html :: navbar-right">
    </nav>

    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <aside th:replace="fragments/admin/menu-bar.html :: menu-bar">
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

<!--        <section th:replace="fragments/admin/content-header.html :: content-header(~{:: .pageTitle},~{:: .my-content})">-->
<!--            <li class="pageTitle"><a href="#">Home</a></li>-->
<!--            <span class="my-content" th:text="'Profile: '+${session.loginUser.fullName}"></span>-->
<!--        </section>-->

        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title" th:text="'Profile: '+${session.loginUser.fullName}"></h3>

                            </div>
                            <!-- /.card-header -->

                            <!-- form start -->
                            <div class="card-body">
                                <div style="margin-bottom: 25px" class="text-danger" th:if="${message != null}">
                                    <ul>
                                        <li th:text="${message}" />
                                    </ul>
                                </div>

                            <form role="form" th:object="${crmUser}" th:method="post" th:action="@{/changePasswordProcess}" >
                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{userName}">

                                <div class="form-group">
                                    <label  class="col-form-label required">Password</label>
                                    <input  type="password" class="form-control" name="current_password"  placeholder="Current Password" required>
                                </div>



                                <div class="form-group">
                                    <label  class="col-form-label required">Password</label>
                                    <input  type="password" class="form-control" th:field="*{password}"  placeholder="Password" required>
                                </div>
                                <div th:if="${#fields.hasErrors('password')}"
                                     style="margin-bottom: 25px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                                    </ul>
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label  class="col-form-label required">Repeat Password</label>
                                    <input  type="password" class="form-control" th:field="*{matchingPassword}" placeholder="Repeat Password" required>
                                </div>
                                <div th:if="${#fields.hasErrors('matchingPassword')}"
                                     style="margin-bottom: 25px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}" />
                                    </ul>
                                </div>


                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title" >General information</h3>
                            </div>
                            <div class="card-body">
                                <p>Full Name: <b th:text="${session.loginUser.fullName}"></b></p>
                                <p>Email: <b th:text="${session.loginUser.email}"></b></p>
                                <p>Phone Number: <b th:text="${session.loginUser.phoneNumber}"></b></p>
                                <p>Address: <b th:text="${session.loginUser.address}"></b></p>
                                <p>User Avatar:</p>
                                <img th:src="${session.loginUser.getLogoUrl()}" style="width: 100px;height:100px" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer" th:replace="fragments/admin/footer.html :: footer">

    </footer>

    <!-- Control Sidebar -->
    <aside th:replace="fragments/admin/footer.html :: control-sidebar">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div id="foot-script" th:replace="fragments/admin/foot-script.html :: foot-script">

</div>

</body>
</html>
