<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/home/head.html :: my-head(~{ :: .my-own-title})">

    <title class="my-own-title">Home Page Title</title>

</head>
<body>
<div class="page home-page">
    <!--*********************************************************************************************************-->
    <!--************ HERO ***************************************************************************************-->
    <!--*********************************************************************************************************-->
    <header class="hero has-dark-background">
        <div class="hero-wrapper">

            <!--============ Secondary Navigation ===============================================================-->
            <div class="secondary-navigation" th:replace="fragments/home/secondary-navigation.html :: secondary-navigation">
            </div>
            <!--============ End Secondary Navigation ===========================================================-->

            <div class="background" th:replace="fragments/home/header-background.html :: header-background">
            </div>
            <!--end background-->
        </div>
        <!--end hero-wrapper-->
    </header>
    <!--end hero-->

    <!--*********************************************************************************************************-->
    <!--************ CONTENT ************************************************************************************-->
    <!--*********************************************************************************************************-->

    <section class="content">
        <section class="block">
            <div class="container">
                <div class="row flex-column-reverse flex-md-row">
                    <div class="col-md-9">
                        <!--============ Section Title===================================================================-->
                        <div class="section-title clearfix">
                            <div class="float-left float-xs-none">
                                <label class="mr-3 align-text-bottom">Sort by: </label>
                                <select name="sorting" id="sorting" class="small width-200px" data-placeholder="Default Sorting" >
                                    <option value="">Default Sorting</option>
                                    <option value="1">Newest First</option>
                                    <option value="2">Oldest First</option>
                                    <option value="3">Lowest Price First</option>
                                    <option value="4">Highest Price First</option>
                                </select>

                            </div>
                            <div class="float-right float-xs-none d-xs-none thumbnail-toggle">
                                <a href="#" class="change-class" data-change-from-class="list" data-change-to-class="grid" data-parent-class="items">
                                    <i class="fa fa-th"></i>
                                </a>
                                <a href="#" class="change-class active" data-change-from-class="grid" data-change-to-class="list" data-parent-class="items">
                                    <i class="fa fa-th-list"></i>
                                </a>
                            </div>
                        </div>
                        <!--============ Items ==========================================================================-->
                        <div class="items list grid-xl-3-items grid-lg-3-items grid-md-2-items">
                            <th:block th:each="row: ${listRealEstate}">
                                <div class="item">
                                    <div class="wrapper">
                                        <div class="image">
                                            <h3>
                                                <a th:href="@{/real-estate/detail/__${row.id}__}" class="tag category" th:text="${row.category}"></a>
                                                <!--                                            <a href="single-listing-1.html" class="title" th:text="${row.title}"></a>-->
                                                <span class="tag" th:text="${row.realEstateType}">Offer</span>
                                            </h3>
                                            <a th:href="@{/real-estate/detail/__${row.id}__}" class="image-wrapper background-image">
                                                <img th:src="@{${row.realEstateImages[0].image}}" alt="">
                                            </a>
                                        </div>
                                        <!--end image-->
                                        <h4 class="location">
                                            <a th:href="@{/real-estate/detail/__${row.id}__}" th:text="${row.province}"></a>
                                        </h4>
                                        <div class="price" th:text="${row.totalprice}">$125</div>
                                        <div class="meta">
                                            <figure>
                                                <i class="fa fa-mail-forward"></i> [[${row.user.email}]]
                                            </figure>
                                            <figure>
                                                <a href="#">
                                                    <i class="fa fa-user"></i> <span th:text="${row.user.fullName}"></span>
                                                </a>
                                            </figure>
                                        </div>
                                        <!--end meta-->
                                        <div class="description">
                                            <p th:text="${row.title}"></p>
                                        </div>
                                        <!--end description-->
                                        <div class="additional-info">
                                            <ul>
                                                <li>
                                                    <figure>Area</figure>
                                                    <aside >[[${row.totalArea}]]m<sup>2</sup></aside>
                                                </li>
                                                <li>
                                                    <figure>Direction</figure>
                                                    <aside th:text="${row.direction}"></aside>
                                                </li>
                                                <li>
                                                    <figure>Bedrooms</figure>
                                                    <aside th:text="${row.bedRoomQuantity}"></aside>
                                                </li>
                                                <li>
                                                    <figure>Bathrooms</figure>
                                                    <aside th:text="${row.bathRoomQuantity}"></aside>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--end addition-info-->
                                        <a th:href="@{/real-estate/detail/__${row.id}__}" class="detail text-caps underline">Detail</a>
                                    </div>
                                </div>
                                <!--end item-->
                            </th:block>

                        </div>
                        <!--============ End Items ==============================================================-->
                        <th:block th:unless="${totalPages <1}">
                            <div class="page-pagination">
                                <nav aria-label="Pagination">
                                    <ul class="pagination">
                                        <th:block th:unless="${currentPage<2}">

                                            <li class="page-item">
                                                <a class="page-link" th:href="@{/search-user/__${owner_id}__/1}" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <i class="fa fa-chevron-left"></i>
                                            <i class="fa fa-chevron-left"></i>
                                        </span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item">

                                                <a class="page-link" th:href="@{/search-user/__${owner_id}__/__${currentPage-1}__}" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <i class="fa fa-chevron-left"></i>
                                        </span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                        </th:block>

                                        <th:block th:if="${currentPage-2 >= 1}">
                                            <li class="page-item" >
                                                <a class="page-link" th:href="@{/search-user/__${owner_id}__/__${currentPage-2}__}">[[${currentPage-2}]]</a>
                                            </li>
                                        </th:block>

                                        <th:block th:if="${currentPage-1 >= 1}">
                                            <li class="page-item" >
                                                <a class="page-link" th:href="@{/search-user/__${owner_id}__/__${currentPage-1}__}">[[${currentPage-1}]]</a>
                                            </li>
                                        </th:block>


                                        <li class="page-item active">
                                            <span class="page-link">
                                                [[${currentPage}]]
                                                <span class="sr-only">(current)</span>
                                            </span>
                                        </li>

                                        <th:block  th:if="${currentPage+1 <= totalPages}">
                                            <li class="page-item" >
                                                <a class="page-link" th:href="@{/search-user/__${owner_id}__/__${currentPage+1}__}">[[${currentPage+1}]]</a>
                                            </li>
                                        </th:block>
                                        <th:block  th:if="${currentPage+2 <= totalPages}">
                                            <li class="page-item" >
                                                <a class="page-link" th:href="@{/search-user/__${owner_id}__/__${currentPage+2}__}">[[${currentPage+2}]]</a>
                                            </li>
                                        </th:block>


                                        <th:block th:unless="${currentPage == totalPages}">

                                            <li class="page-item">
                                                <a class="page-link" th:href="@{/search-user/__${owner_id}__/__${currentPage+1}__}" aria-label="Next">
                                        <span aria-hidden="true">
                                            <i class="fa fa-chevron-right"></i>
                                        </span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" th:href="@{/search-user/__${owner_id}__/__${totalPages}__}" aria-label="Next">
                                        <span aria-hidden="true">
                                            <i class="fa fa-chevron-right"></i>
                                            <i class="fa fa-chevron-right"></i>
                                        </span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>

                                        </th:block>

                                    </ul>
                                </nav>
                            </div>
                        </th:block>
                        <!--                        <th:block th:unless="${totalPages <1}">-->
                        <!--                            <div class="page-pagination">-->
                        <!--                                <nav aria-label="Pagination">-->
                        <!--                                    <ul class="pagination">-->
                        <!--                                        <th:block th:unless="${currentPage<2}">-->

                        <!--                                            <li class="page-item">-->
                        <!--                                                <a class="page-link" th:href="@{/all-post/1}" aria-label="Previous">-->
                        <!--                                        <span aria-hidden="true">-->
                        <!--                                            <i class="fa fa-chevron-left"></i>-->
                        <!--                                            <i class="fa fa-chevron-left"></i>-->
                        <!--                                        </span>-->
                        <!--                                                    <span class="sr-only">Previous</span>-->
                        <!--                                                </a>-->
                        <!--                                            </li>-->
                        <!--                                            <li class="page-item">-->
                        <!--                                                <a class="page-link" th:href="@{/all-post/__${currentPage-1}__}" aria-label="Previous">-->
                        <!--                                        <span aria-hidden="true">-->
                        <!--                                            <i class="fa fa-chevron-left"></i>-->
                        <!--                                        </span>-->
                        <!--                                                    <span class="sr-only">Previous</span>-->
                        <!--                                                </a>-->
                        <!--                                            </li>-->
                        <!--                                        </th:block>-->



                        <!--                                        <th:block th:each="i: ${#numbers.sequence(1,totalPages)}">-->
                        <!--                                            <li class="page-item" th:if="${currentPage !=i}">-->
                        <!--                                                <a class="page-link" th:href="@{/all-post/__${i}__}">[[${i}]]</a>-->
                        <!--                                            </li>-->
                        <!--                                            <li class="page-item active" th:unless="${currentPage !=i}">-->
                        <!--                                        <span class="page-link">-->
                        <!--                                            [[${i}]]-->
                        <!--                                            <span class="sr-only">(current)</span>-->
                        <!--                                        </span>-->
                        <!--                                            </li>-->

                        <!--                                        </th:block>-->

                        <!--                                        <th:block th:unless="${currentPage == totalPages}">-->

                        <!--                                            <li class="page-item">-->
                        <!--                                                <a class="page-link" th:href="@{/all-post/__${currentPage+1}__}" aria-label="Next">-->
                        <!--                                        <span aria-hidden="true">-->
                        <!--                                            <i class="fa fa-chevron-right"></i>-->
                        <!--                                        </span>-->
                        <!--                                                    <span class="sr-only">Next</span>-->
                        <!--                                                </a>-->
                        <!--                                            </li>-->

                        <!--                                            <li class="page-item">-->
                        <!--                                                <a class="page-link" th:href="@{/all-post/__${totalPages}__}" aria-label="Next">-->
                        <!--                                        <span aria-hidden="true">-->
                        <!--                                            <i class="fa fa-chevron-right"></i>-->
                        <!--                                            <i class="fa fa-chevron-right"></i>-->
                        <!--                                        </span>-->
                        <!--                                                    <span class="sr-only">Next</span>-->
                        <!--                                                </a>-->
                        <!--                                            </li>-->

                        <!--                                        </th:block>-->

                        <!--                                    </ul>-->
                        <!--                                </nav>-->
                        <!--                            </div>-->
                        <!--                        </th:block>-->

                        <th:block th:unless="${totalPages >=1}">
                            <p class="text-center">không có sản phẩm</p>
                        </th:block>

                        <!--end page-pagination-->
                    </div>
                    <!--end col-md-9-->
                    <div class="col-md-3">
                        <!--============ Side Bar ===============================================================-->
                        <aside class="sidebar">
                            <section>
                                <h2>Search Ads</h2>
                                <!--============ Side Bar Search Form ===========================================-->
                                <div th:replace="fragments/home/sidebar-form.html :: sidebar-form"> </div>

                                <!--============ End Side Bar Search Form =======================================-->
                            </section>
                        </aside>
                        <!--============ End Side Bar ===========================================================-->
                    </div>
                    <!--end col-md-3-->
                </div>
            </div>
            <!--end container-->
        </section>
        <!--end block-->
    </section>
    <!--end content-->


    <!--*********************************************************************************************************-->
    <!--************ FOOTER *************************************************************************************-->
    <!--*********************************************************************************************************-->
    <footer class="footer" th:replace="fragments/home/footer.html :: footer">
    </footer>
    <!--end footer-->
</div>
<!--end page-->

<div id="foot-script" th:replace="fragments/home/foot-script.html :: foot-script">
</div>



</body>
</html>
