<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin/head.html :: admin-head(~{ :: .admin-title })">

    <title class="admin-title">User Profile</title>
    <!-- Tell the browser to be responsive to screen width -->

</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <!-- Navbar -->

    <nav th:replace="fragments/admin/navbar-right.html :: navbar-right">
    </nav>

    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <aside th:replace="fragments/admin/menu-bar.html :: menu-bar">
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

<!--        <section th:replace="fragments/admin/content-header.html :: content-header(~{:: .pageTitle},~{:: .my-content})">-->
<!--            <li class="pageTitle"><a href="#">Home</a></li>-->
<!--            <span class="my-content" th:text="'Profile: '+${session.loginUser.fullName}"></span>-->
<!--        </section>-->

        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <th:block th:if="${message!=null}" >
                            <h3 th:text="${message}"></h3>
                        </th:block>
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title" th:text="'Profile: '+${session.loginUser.fullName}"></h3>

                            </div>
                            <!-- /.card-header -->

                            <!-- form start -->
                            <form role="form" th:object="${crmUser}" th:method="post" th:action="@{/updateUser}" enctype="multipart/form-data">
                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{userName}">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label >Full Name</label>
                                        <input type="text" class="form-control" th:field="*{fullName}" placeholder="Enter Full Name" required>
                                    </div>

                                    <div th:if="${#fields.hasErrors('fullName')}"
                                         style="margin-bottom: 25px" class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('fullName')}" th:text="'Full Name ' + ${err}" />
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <label >Email address</label>
                                        <input type="email"  class="form-control" th:field="*{email}" placeholder="Enter email" readonly>
                                    </div>
                                    <div th:if="${#fields.hasErrors('email')}"
                                         style="margin-bottom: 25px" class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <label >Phone Number</label>
                                        <input type="text" class="form-control" th:field="*{phoneNumber}" placeholder="Phone Number" required>
                                    </div>

                                    <div th:if="${#fields.hasErrors('phoneNumber')}"
                                         style="margin-bottom: 25px" class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('phoneNumber')}" th:text="'Phone Number ' + ${err}" />
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <label >Address</label>
                                        <input type="text" class="form-control" th:field="*{address}" placeholder="Address" required>
                                    </div>

                                    <div th:if="${#fields.hasErrors('address')}"
                                         style="margin-bottom: 25px" class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('address')}" th:text="'Address ' + ${err}" />
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <label >Money Amount</label>
                                        <input type="text" readonly class="form-control" th:field="*{moneyAmount}" placeholder="Money Amount" >
                                    </div>

<!--                                    <div class="form-group">-->
<!--                                        <label >Password</label>-->
<!--                                        <input type="password" class="form-control" th:field="*{password}" th:value="*{password}" placeholder="Password" required>-->
<!--                                    </div>-->

<!--                                    <div th:if="${#fields.hasErrors('password')}"-->
<!--                                         style="margin-bottom: 25px" class="text-danger">-->
<!--                                        <ul>-->
<!--                                            <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />-->
<!--                                        </ul>-->
<!--                                    </div>-->

<!--                                    <div class="form-group">-->
<!--                                        <label >Confirm Password</label>-->
<!--                                        <input type="password" class="form-control" th:field="*{matchingPassword}" th:value="*{password}" placeholder="Password" required>-->
<!--                                    </div>-->

<!--                                    <div th:if="${#fields.hasErrors('matchingPassword')}"-->
<!--                                         style="margin-bottom: 25px" class="text-danger">-->
<!--                                        <ul>-->
<!--                                            <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}" />-->
<!--                                        </ul>-->
<!--                                    </div>-->

                                    <div class="form-group">
                                        <label >Logo File</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="logoFile" accept="image/png, image/jpeg">
                                                <label class="custom-file-label"> Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div class="form-check">-->
<!--                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--                                    </div>-->
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title" >General information</h3>
                            </div>
                            <div class="card-body">
                                <p>Full Name: <b th:text="${session.loginUser.fullName}"></b></p>
                                <p>Email: <b th:text="${session.loginUser.email}"></b></p>
                                <p>Phone Number: <b th:text="${session.loginUser.phoneNumber}"></b></p>
                                <p>Address: <b th:text="${session.loginUser.address}"></b></p>
                                <p>User Avatar:</p>
                                <img th:src="${session.loginUser.getLogoUrl()}" style="width: 100px;height:100px" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer" th:replace="fragments/admin/footer.html :: footer">

    </footer>

    <!-- Control Sidebar -->
    <aside th:replace="fragments/admin/footer.html :: control-sidebar">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div id="foot-script" th:replace="fragments/admin/foot-script.html :: foot-script">

</div>

</body>
</html>
