<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section class="block" th:fragment="feature-step">
    <div class="container">
        <div class="block">
            <h2>Mua bán trao đổi bất động sản một cách dễ dàng</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="feature-box">
                        <figure>
                            <img th:src="@{/assets/icons/feature-user.png}" alt="">
                            <span>1</span>
                        </figure>
                        <h3>Tạo tài khoản</h3>
                    </div>
                    <!--end feature-box-->
                </div>
                <!--end col-->
                <div class="col-md-3">
                    <div class="feature-box">
                        <figure>
                            <img th:src="@{/assets/icons/feature-upload.png}" alt="">
                            <span>2</span>
                        </figure>
                        <h3>Quản lý khách hàng</h3>

                    </div>
                    <!--end feature-box-->
                </div>
                <!--end col-->
                <div class="col-md-3">
                    <div class="feature-box">
                        <figure>
                            <img th:src="@{/assets/icons/feature-like.png}" alt="">
                            <span>3</span>
                        </figure>
                        <h3>Giao dịch bất động sản</h3>

                    </div>
                    <!--end feature-box-->
                </div>
                <!--end col-->
                <div class="col-md-3">
                    <div class="feature-box">
                        <figure>
                            <img th:src="@{/assets/icons/feature-wallet.png}" alt="">
                            <span>4</span>
                        </figure>
                        <h3>Quản lý giao dịch</h3>
                    </div>
                    <!--end feature-box-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end block-->
    </div>
    <!--end container-->
    <div class="background" data-background-color="#fff"></div>
    <!--end background-->
</section>
</html>