<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section class="block" th:fragment="recent-ad">
    <div class="container">
        <h2>Tin Mới</h2>
        <div class="items grid grid-xl-4-items grid-lg-3-items grid-md-2-items">
            <th:block th:each="row :  ${listRecentReal}">
                <div class="item">
                    <div class="wrapper">
                        <div class="image">
                            <h3>
                                <a th:href="@{/real-estate/detail/__${row.id}__}" class="tag category" th:text="${row.category}"></a>

                                <span class="tag" th:text="${row.realEstateType}"></span>
                            </h3>
                            <a th:href="@{/real-estate/detail/__${row.id}__}" class="image-wrapper background-image">
                                <img th:src="@{${row.realEstateImages[0].image}}" alt="">
                            </a>
                        </div>
                        <!--end image-->
                        <h4 class="location">
                            <a th:href="@{/real-estate/detail/__${row.id}__}" th:text="${row.province}"></a>
                        </h4>
                        <div class="price" th:text="${row.totalprice}"></div>
                        <div class="meta">
                            <figure>
                                <i class="fa fa-location-arrow"></i> [[${row.totalArea}]]m<sup>2</sup>
                            </figure>
                            <figure>
                                <a th:href="@{/search-user/__${row.user.id}__/1}">
                                    <i class="fa fa-user"></i> <span th:text="${row.user.getFullName()}"></span>
                                </a>
                            </figure>
                        </div>
                        <!--end meta-->
                        <div class="description">
                            <p th:text="${row.title}"></p>
                        </div>
                        <!--end description-->

                        <!--end addition-info-->
                        <a th:href="@{/real-estate/detail/__${row.id}__}" class="detail text-caps underline">Detail</a>
                    </div>
                </div>
                <!--end item-->
            </th:block>
        </div>
        <div class="text-center">
            <a th:href="@{/all-post/1}" class="btn btn-primary">Tất cả bài đăng</a>
        </div>
    </div>
    <!--end container-->
</section>
</html>