<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="col-md-3" th:fragment="user-menu-bar">
    <nav class="nav flex-column side-nav">
        <a class="nav-link active icon" th:href="@{/userProfile}">
            <i class="fa fa-user"></i>Thông tin tài khoản
        </a>
        <a class="nav-link icon" th:href="@{/changePassword}">
            <i class="fa fa-heart"></i>Thay đổi mật khẩu
        </a>
        <a class="nav-link icon" th:href="@{/real-estate/create}">
            <i class="fa fa-heart"></i>Đăng tin
        </a>

        <a class="nav-link icon" th:href="@{/changePassword}">
            <i class="fa fa-heart"></i>My Ads Listing
        </a>
        <a class="nav-link icon" href="bookmarks.html">
            <i class="fa fa-star"></i>Bookmarks
        </a>
        <a class="nav-link icon" href="change-password.html">
            <i class="fa fa-recycle"></i>Change Password
        </a>
        <a class="nav-link icon" href="sold-items.html">
            <i class="fa fa-check"></i>Sold Items
        </a>
    </nav>
</div>

</html>


